<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<listener>
		<listener-class>com.cozilyworks.listener.CozilyContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.cozilyworks.listener.CozilyContextAttributeListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.cozilyworks.listener.CozilySessionListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.cozilyworks.listener.CozilySessionAttributeListener</listener-class>
	</listener>

	<filter>
		<filter-name>TestFilter</filter-name>
		<filter-class>com.cozilyworks.filter.TestFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>TestFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>invoker</servlet-name>
		<servlet-class>org.apache.catalina.servlets.InvokerServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>0</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>XFireServlet</servlet-name>
		<display-name>XFire Servlet</display-name>
		<servlet-class>org.codehaus.xfire.transport.http.XFireConfigurableServlet</servlet-class>
	</servlet>

	<!-- servlet hessian -->
	<servlet>
		<servlet-name>hello</servlet-name>
		<servlet-class>com.caucho.hessian.server.HessianServlet</servlet-class>
		<init-param>
			<param-name>home-class</param-name>
			<param-value>com.cozilyworks.services.xfire.HelloServiceImpl</param-value>
		</init-param>
		<init-param>
			<param-name>home-api</param-name>
			<param-value>com.cozilyworks.services.xfire.HelloService</param-value>
		</init-param>
	</servlet>
	<servlet>
		<description></description>
		<display-name>TestGenericServlet</display-name>
		<servlet-name>TestGenericServlet</servlet-name>
		<servlet-class>com.cozilyworks.servlet.TestGenericServlet</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>hello</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	<!-- servlet invoker -->
	<servlet-mapping>
		<servlet-name>invoker</servlet-name>
		<url-pattern>/servlet/*</url-pattern>
	</servlet-mapping>

	<!-- mapping for xfire-->
	<servlet-mapping>
		<servlet-name>XFireServlet</servlet-name>
		<url-pattern>/servlet/XFireServlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XFireServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestGenericServlet</servlet-name>
		<url-pattern>/TestGenericServlet</url-pattern>
	</servlet-mapping>

</web-app>

